[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
numpy = "*"
pydantic = "*"
pandas = "*"
sklearn = "*"
xgboost = "*"
bentoml = "*"
locust = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
